<h2>Update the drone</h2>
<form action="/drones/{{response._id}}/edit" method="post" >

    <label for="fname">Name of Drone</label>
    <input type="text" id="fname" name="name" placeholder="Drone name..">

    <label for="propellers">Propellers quantiy</label>
    <input type="number" id="propellers" name="propellers" placeholder="Propellers number..">

    <label for="speed">Max Speed</label>
    <input type="number" id="speed" name="speed" placeholder="Max speed..">

     <input type="submit" value="Submit">

  </form>

<h4>{{response.name}}</h4>
  <h4>{{response.propellers}}</h4>
  <h4>{{response.maxSpeed}}</h4>